In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vaish\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vaish\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vaish\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaish\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vaish\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\vaish\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
df=pd.read_csv("Iris_missingdata.csv")
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      1            5.1           3.5            1.4           0.2
2      2            4.9           3.0            1.4           0.2
3      3            4.7           3.2            1.3           0.2
4      4            NaN           3.1            1.5           0.2
..   ...            ...           ...            ...           ...
147  146            6.7           3.0            5.2           2.3
148  147            6.3           NaN            5.0           1.9
149  148            6.5           3.0            5.2           2.0
150  149            6.2           3.4            5.4           2.3
151  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
150  Iris-virginica
151  Iris-virginica

[152 rows x 6 columns]

In [5]:
#to display all records
print(df.to_string())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0      1            5.1           3.5            1.4           0.2      Iris-setosa
1      1            5.1           3.5            1.4           0.2      Iris-setosa
2      2            4.9           3.0            1.4           0.2      Iris-setosa
3      3            4.7           3.2            1.3           0.2      Iris-setosa
4      4            NaN           3.1            1.5           0.2      Iris-setosa
5      5            5.0           3.6            1.4           0.2      Iris-setosa
6      6            5.4           3.9            1.7           0.4      Iris-setosa
7      7            4.6           3.4            1.4           0.3      Iris-setosa
8      7            4.6           3.4            1.4           0.3      Iris-setosa
9      8            5.0           3.4            1.5           0.2      Iris-setosa
10     9            4.4           2.9            1.4           0.2      Iris-setosa
11    10            4.9           3.1            NaN           0.1      Iris-setosa
12    11            5.4           3.7            1.5           0.2      Iris-setosa
13    12            4.8           3.4            1.6           0.2      Iris-setosa
14    13            4.8           3.0            1.4           0.1      Iris-setosa
15    14            NaN           3.0            1.1           0.1      Iris-setosa
16    15            5.8           NaN            1.2           0.2      Iris-setosa
17    16            5.7           4.4            1.5           0.4      Iris-setosa
18    17            5.4           3.9            1.3           0.4      Iris-setosa
19    18            5.1           3.5            1.4           0.3      Iris-setosa
20    19            NaN           3.8            1.7           0.3      Iris-setosa
21    20            5.1           3.8            1.5           0.3      Iris-setosa
22    21            5.4           3.4            1.7           0.2      Iris-setosa
23    22            5.1           3.7            1.5           0.4      Iris-setosa
24    23            4.6           3.6            1.0           0.2      Iris-setosa
25    24            5.1           3.3            NaN           0.5      Iris-setosa
26    25            4.8           3.4            1.9           NaN      Iris-setosa
27    26            5.0           3.0            1.6           0.2      Iris-setosa
28    27            5.0           3.4            1.6           0.4      Iris-setosa
29    28            NaN           3.5            1.5           0.2      Iris-setosa
30    29            5.2           3.4            1.4           0.2      Iris-setosa
31    30            4.7           3.2            1.6           0.2      Iris-setosa
32    31            4.8           NaN            1.6           NaN      Iris-setosa
33    32            5.4           3.4            1.5           0.4      Iris-setosa
34    33            5.2           4.1            1.5           0.1      Iris-setosa
35    34            5.5           4.2            NaN           0.2      Iris-setosa
36    35            4.9           3.1            1.5           0.1      Iris-setosa
37    36            5.0           3.2            1.2           0.2      Iris-setosa
38    37            5.5           3.5            1.3           0.2      Iris-setosa
39    38            4.9           3.1            1.5           0.1      Iris-setosa
40    39            4.4           3.0            1.3           0.2      Iris-setosa
41    40            5.1           3.4            1.5           0.2      Iris-setosa
42    41            5.0           3.5            1.3           0.3      Iris-setosa
43    42            4.5           2.3            1.3           0.3      Iris-setosa
44    43            4.4           3.2            1.3           0.2      Iris-setosa
45    44            5.0           3.5            1.6           0.6      Iris-setosa
46    45            5.1           3.8            1.9           0.4      Iris-setosa
47    46            4.8           3.0            1.4           0.3      Iris-setosa
48    47            5.1           3.8            1.6           0.2      Iris-setosa
49    48            4.6           3.2            1.4           0.2      Iris-setosa
50    49            5.3           3.7            1.5           0.2      Iris-setosa
51    50            5.0           NaN            1.4           NaN      Iris-setosa
52    51            7.0           3.2            4.7           1.4  Iris-versicolor
53    52            NaN           3.2            4.5           1.5  Iris-versicolor
54    53            6.9           3.1            4.9           1.5  Iris-versicolor
55    54            5.5           2.3            4.0           1.3  Iris-versicolor
56    55            6.5           2.8            4.6           NaN  Iris-versicolor
57    56            5.7           2.8            4.5           1.3  Iris-versicolor
58    57            6.3           3.3            4.7           1.6  Iris-versicolor
59    58            4.9           2.4            3.3           1.0  Iris-versicolor
60    59            6.6           2.9            4.6           1.3  Iris-versicolor
61    60            5.2           2.7            3.9           1.4  Iris-versicolor
62    61            5.0           2.0            3.5           1.0  Iris-versicolor
63    62            5.9           3.0            4.2           1.5  Iris-versicolor
64    63            6.0           2.2            4.0           1.0  Iris-versicolor
65    64            6.1           2.9            4.7           1.4  Iris-versicolor
66    65            5.6           2.9            3.6           1.3  Iris-versicolor
67    66            6.7           3.1            4.4           1.4  Iris-versicolor
68    67            5.6           3.0            4.5           1.5  Iris-versicolor
69    68            5.8           2.7            4.1           1.0  Iris-versicolor
70    69            6.2           2.2            4.5           1.5  Iris-versicolor
71    70            5.6           2.5            3.9           1.1  Iris-versicolor
72    71            5.9           3.2            4.8           1.8  Iris-versicolor
73    72            6.1           2.8            NaN           NaN  Iris-versicolor
74    73            6.3           2.5            4.9           1.5  Iris-versicolor
75    74            6.1           2.8            4.7           1.2  Iris-versicolor
76    75            NaN           2.9            4.3           1.3  Iris-versicolor
77    76            6.6           3.0            4.4           1.4  Iris-versicolor
78    77            6.8           2.8            NaN           1.4  Iris-versicolor
79    78            6.7           3.0            5.0           1.7  Iris-versicolor
80    79            6.0           NaN            4.5           1.5  Iris-versicolor
81    80            5.7           2.6            3.5           1.0  Iris-versicolor
82    81            5.5           2.4            3.8           1.1  Iris-versicolor
83    82            5.5           2.4            3.7           1.0  Iris-versicolor
84    83            NaN           2.7            3.9           1.2  Iris-versicolor
85    84            6.0           2.7            5.1           1.6  Iris-versicolor
86    85            5.4           3.0            4.5           1.5  Iris-versicolor
87    86            6.0           3.4            4.5           1.6  Iris-versicolor
88    87            6.7           3.1            4.7           1.5  Iris-versicolor
89    88            6.3           2.3            4.4           1.3  Iris-versicolor
90    89            5.6           3.0            4.1           1.3  Iris-versicolor
91    90            5.5           2.5            4.0           1.3  Iris-versicolor
92    91            5.5           2.6            NaN           1.2  Iris-versicolor
93    92            6.1           3.0            4.6           1.4  Iris-versicolor
94    93            5.8           2.6            4.0           1.2  Iris-versicolor
95    94            5.0           2.3            3.3           1.0  Iris-versicolor
96    95            5.6           2.7            4.2           1.3  Iris-versicolor
97    96            5.7           3.0            NaN           1.2  Iris-versicolor
98    97            5.7           2.9            4.2           1.3  Iris-versicolor
99    98            6.2           2.9            4.3           NaN  Iris-versicolor
100   99            5.1           2.5            3.0           1.1  Iris-versicolor
101  100            NaN           2.8            4.1           1.3  Iris-versicolor
102  101            6.3           3.3            6.0           2.5   Iris-virginica
103  102            5.8           2.7            5.1           1.9   Iris-virginica
104  103            7.1           3.0            5.9           2.1   Iris-virginica
105  104            6.3           2.9            5.6           1.8   Iris-virginica
106  105            6.5           3.0            5.8           2.2   Iris-virginica
107  106            7.6           3.0            6.6           2.1   Iris-virginica
108  107            4.9           2.5            4.5           1.7   Iris-virginica
109  108            7.3           2.9            6.3           1.8   Iris-virginica
110  109            6.7           2.5            5.8           1.8   Iris-virginica
111  110            7.2           3.6            6.1           2.5   Iris-virginica
112  111            6.5           3.2            5.1           2.0   Iris-virginica
113  112            6.4           2.7            5.3           1.9   Iris-virginica
114  113            6.8           3.0            5.5           2.1   Iris-virginica
115  114            5.7           2.5            5.0           2.0   Iris-virginica
116  115            5.8           2.8            5.1           2.4   Iris-virginica
117  116            6.4           3.2            5.3           2.3   Iris-virginica
118  117            6.5           3.0            5.5           1.8   Iris-virginica
119  118            7.7           3.8            6.7           2.2   Iris-virginica
120  119            7.7           2.6            6.9           2.3   Iris-virginica
121  120            6.0           2.2            NaN           1.5   Iris-virginica
122  121            6.9           3.2            5.7           2.3   Iris-virginica
123  122            5.6           2.8            4.9           2.0   Iris-virginica
124  123            7.7           2.8            6.7           2.0   Iris-virginica
125  124            6.3           2.7            4.9           1.8   Iris-virginica
126  125            6.7           NaN            5.7           2.1   Iris-virginica
127  126            NaN           3.2            6.0           1.8   Iris-virginica
128  127            6.2           2.8            4.8           1.8   Iris-virginica
129  128            6.1           3.0            4.9           1.8   Iris-virginica
130  129            6.4           2.8            5.6           NaN   Iris-virginica
131  130            7.2           3.0            5.8           1.6   Iris-virginica
132  131            NaN           2.8            6.1           1.9   Iris-virginica
133  132            7.9           3.8            6.4           2.0   Iris-virginica
134  133            6.4           2.8            5.6           2.2   Iris-virginica
135  134            6.3           NaN            5.1           1.5   Iris-virginica
136  135            6.1           2.6            5.6           1.4   Iris-virginica
137  136            7.7           3.0            6.1           2.3   Iris-virginica
138  137            6.3           3.4            5.6           2.4   Iris-virginica
139  138            6.4           3.1            5.5           1.8   Iris-virginica
140  139            6.0           3.0            4.8           1.8   Iris-virginica
141  140            6.9           3.1            5.4           NaN   Iris-virginica
142  141            6.7           3.1            5.6           2.4   Iris-virginica
143  142            6.9           3.1            5.1           2.3   Iris-virginica
144  143            NaN           2.7            5.1           NaN   Iris-virginica
145  144            6.8           3.2            5.9           2.3   Iris-virginica
146  145            6.7           3.3            5.7           2.5   Iris-virginica
147  146            6.7           3.0            5.2           2.3   Iris-virginica
148  147            6.3           NaN            5.0           1.9   Iris-virginica
149  148            6.5           3.0            5.2           2.0   Iris-virginica
150  149            6.2           3.4            5.4           2.3   Iris-virginica
151  150            5.9           3.0            5.1           1.8   Iris-virginica

In [6]:
#to display first 15 records
print(df.head(15))

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    1            5.1           3.5            1.4           0.2  Iris-setosa
2    2            4.9           3.0            1.4           0.2  Iris-setosa
3    3            4.7           3.2            1.3           0.2  Iris-setosa
4    4            NaN           3.1            1.5           0.2  Iris-setosa
5    5            5.0           3.6            1.4           0.2  Iris-setosa
6    6            5.4           3.9            1.7           0.4  Iris-setosa
7    7            4.6           3.4            1.4           0.3  Iris-setosa
8    7            4.6           3.4            1.4           0.3  Iris-setosa
9    8            5.0           3.4            1.5           0.2  Iris-setosa
10   9            4.4           2.9            1.4           0.2  Iris-setosa
11  10            4.9           3.1            NaN           0.1  Iris-setosa
12  11            5.4           3.7            1.5           0.2  Iris-setosa
13  12            4.8           3.4            1.6           0.2  Iris-setosa
14  13            4.8           3.0            1.4           0.1  Iris-setosa

In [7]:
#to display last 7 records
print(df.tail(7))

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  144            6.8           3.2            5.9           2.3
146  145            6.7           3.3            5.7           2.5
147  146            6.7           3.0            5.2           2.3
148  147            6.3           NaN            5.0           1.9
149  148            6.5           3.0            5.2           2.0
150  149            6.2           3.4            5.4           2.3
151  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
150  Iris-virginica
151  Iris-virginica

In [8]:
#it returns no of rows and no of columns
print(df.shape)

(152, 6)

In [9]:
#NaN- return True otherwise it returns False
print(df.isnull())

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False           True         False          False         False    False
..     ...            ...           ...            ...           ...      ...
147  False          False         False          False         False    False
148  False          False          True          False         False    False
149  False          False         False          False         False    False
150  False          False         False          False         False    False
151  False          False         False          False         False    False

[152 rows x 6 columns]

In [10]:
print(df.isnull().sum())

Id                0
SepalLengthCm    11
SepalWidthCm      7
PetalLengthCm     8
PetalWidthCm      9
Species           0
dtype: int64

In [11]:
print(df.fillna("Hello"))

      Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm         Species
0      1           5.1          3.5           1.4          0.2     Iris-setosa
1      1           5.1          3.5           1.4          0.2     Iris-setosa
2      2           4.9          3.0           1.4          0.2     Iris-setosa
3      3           4.7          3.2           1.3          0.2     Iris-setosa
4      4         Hello          3.1           1.5          0.2     Iris-setosa
..   ...           ...          ...           ...          ...             ...
147  146           6.7          3.0           5.2          2.3  Iris-virginica
148  147           6.3        Hello           5.0          1.9  Iris-virginica
149  148           6.5          3.0           5.2          2.0  Iris-virginica
150  149           6.2          3.4           5.4          2.3  Iris-virginica
151  150           5.9          3.0           5.1          1.8  Iris-virginica

[152 rows x 6 columns]

In [12]:
#delete NaN records
d4=df.dropna()
print(d4)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      1            5.1           3.5            1.4           0.2
2      2            4.9           3.0            1.4           0.2
3      3            4.7           3.2            1.3           0.2
5      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
146  145            6.7           3.3            5.7           2.5
147  146            6.7           3.0            5.2           2.3
149  148            6.5           3.0            5.2           2.0
150  149            6.2           3.4            5.4           2.3
151  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
5       Iris-setosa
..              ...
146  Iris-virginica
147  Iris-virginica
149  Iris-virginica
150  Iris-virginica
151  Iris-virginica

[121 rows x 6 columns]

In [13]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,NaN,3.1,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
147,146,6.7,3.0,5.2,2.3,Iris-virginica
148,147,6.3,NaN,5.0,1.9,Iris-virginica
149,148,6.5,3.0,5.2,2.0,Iris-virginica
150,149,6.2,3.4,5.4,2.3,Iris-virginica
151,150,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  152.000000      141.00000    145.000000     144.000000    143.000000
mean    74.559211        5.82766      3.055862       3.747222      1.185315
std     43.925393        0.82359      0.432351       1.787249      0.766091
min      1.000000        4.40000      2.000000       1.000000      0.100000
25%     36.750000        5.10000      2.800000       1.500000      0.300000
50%     74.500000        5.80000      3.000000       4.350000      1.300000
75%    112.250000        6.40000      3.400000       5.100000      1.800000
max    150.000000        7.90000      4.400000       6.900000      2.500000

In [15]:
#mean()-sum of elements/total no of records
print(df['SepalLengthCm'].mean())

5.827659574468085

In [16]:
print(df['SepalWidthCm'].mean())

3.0558620689655176

In [17]:
#mode()- it returns frequency of elements
print(df['SepalWidthCm'].mode())

0    3.0
Name: SepalWidthCm, dtype: float64

In [18]:
#it reurns mid values
print(df['SepalWidthCm'].median())

3.0

In [19]:
print(df['PetalLengthCm'].mean())

3.7472222222222222

In [20]:
print(df['PetalLengthCm'].mode())

0    1.4
1    1.5
Name: PetalLengthCm, dtype: float64

In [21]:
print(df['PetalLengthCm'].median())

4.35